<!--底部---start-->
<div class="site-footer">
    <footer>
        <div class="aboutUs clearfix">
            <div class="aboutUs-info fl">
                <p class="footer-tip"><i></i>友情提示【预期年化收益率不代表未来实际收益，出借有风险，选择需谨慎】</p>
                <ul class="copyright-links">
                    <li>
                        <a href="/html/company">公司简介</a>
                    </li>
                    <li>
                        <a href="/html/game">团队介绍</a>
                    </li>
                    <li>
                        <a href="/html/activity">公司动态</a>
                    </li>
                    <li>
                        <a href="/html/contactUs">联系我们</a>
                    </li>
                </ul>
                <p class="serverTime">服务时间（工作日）：9:00-18:00</p>
                <p class="serverTel"><i></i>全国统一服务热线：<span>010-65006966 </span></p>
            </div>
            <div class="footer-weixin fr">
                <img src="${filePath}/images/footer-weixin.jpg">
                <p>扫一扫&nbsp;&nbsp;关注宝宝</p>
            </div>
            <div class="footer-weixin fr">
                <img src="${filePath}/images/footer-download.jpg">
                <p>下载客户端</p>
            </div>
        </div>
        <div class="jeb-copyright-auth">
            <ul class="clearfix">
                <li>
                    <a href="#">
                        <img src="${filePath}/images/footer-ipc.jpg">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="${filePath}/images/footer-police.jpg">
                    </a>
                </li>
            </ul>
            <p>版权所有：金额宝互联网信息科技（北京）有限公司</p>
            <p>&copy;2014-2015 jebao.net. Inc. All Rights Reserved.&nbsp;&nbsp;备案序号：京ICP备16054638号-1</p>
        </div>
    </footer>
</div>
<!--$(funciton(){-->
     <!--$(".copyright-links").click(function () {-->
        <!--$(this).parent().find('dt').removeClass('active');-->
        <!--$(this).addClass('active');-->

        <!--$('.project-filter dl dt').each(function () {-->

        <!--var clazz = $(this).attr("class");-->
        <!--if (clazz == "active") {-->
        <!--//获得被选中的a链接的类型和值-->
        <!--var fType = $(this).attr("fType");-->
        <!--var fValue = $(this).attr("fValue");-->
        <!--if (fType == "bpInterestPayType") {-->
        <!--model.searchObj.bpInterestPayType = fValue;-->
        <!--} else if (fType == "bpPeriodStr") {-->
        <!--model.searchObj.bpPeriodStr = fValue;-->
        <!--} else if (fType == "searchMoneyStr") {-->
        <!--model.searchObj.searchMoneyStr = fValue;-->
        <!--} else if (fType == "bpStatus") {-->
        <!--model.searchObj.bpStatus = fValue;-->
        <!--}-->
        <!--}-->
    <!--});-->
<!--})-->

<!--阴影-->
<div class="shadow-bg"></div>
<script src=$UrlHelperTool.href("/content/js/lib/vue.js")></script>
<script src=$UrlHelperTool.href("/content/script/common.js") ></script>
<script>if(common){common.apiOrigin = "$UrlHelperTool.getApiOrigin()";}</script>
<script src="${filePath}/js/plugins/laypage/laypage.js"></script>
<script src=$UrlHelperTool.href("/content/js/common.js") ></script>
<script src=$UrlHelperTool.href("/content/layer/layer.js") ></script>
<!-- nwww.jebao.net Baidu tongji analytics -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6fe672698fc898b2ca41c158feb28c20";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

