<!--侧边栏--start-->
<div class="aside">
    <ul>
        <li class="asidePic">
            <div class="asideText">客服 热线</div>
            <div class="asideImg"><img src="${filePath}/images/aside-tel.png" alt=""></div>
            <div class="callbox">010-65006966</div>
        </li>
        <li class="asidePic">
            <div class="asideText">手机 APP</div>
            <div class="asideImg"><img src="${filePath}/images/aside-appdownload.png" alt=""></div>
            <div class="er_code"><img src="${filePath}/images/aside-appPic.png" alt=""></div>
        </li>
        <li class="asidePic">
            <div class="asideText">关注 微信</div>
            <div class="asideImg"><img src="${filePath}/images/aside-weixin.png" alt=""></div>
            <div class="er_code"><img src="${filePath}/images/aside-wxPic.png" alt=""></div>
        </li>
        <li class="asidePic" id="gotoTop" style="display: none">
            <div class="asideText">返回 顶部</div>
            <div class="asideImg"><img src="${filePath}/images/aside-gototop.png" alt=""></div>
        </li>
    </ul>
</div>