<!DOCTYPE html>
<html>
<head>
    <title>金额宝 - 团队介绍 </title>
    #parse("common/head.html")
    <link rel="stylesheet" href="${filePath}/css/index.css">
    <link rel="stylesheet" href="${filePath}/css/lib/swiper.css">
</head>

<body>
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--关于我们导航-->
<div class="aboutUs-nav">
    <p>
        <a href="/">首页</a><a href="javascript:void(0);" class="red">团队介绍</a>
    </p>
</div>
<!--关于我们内容-->
<div class="account-main clearfix">
    <!--关于我们--左侧导航-->
    #parse("common/sidebar-about.html")
    <!--关于我们--右侧主要内容-->
    <div class="aboutUs-content fr" style="height: 731px">
        <h2>团队介绍</h2>
        <p class="aboutUs-text"><span style="font-weight:bold;">技术部</span>： 目前由技术总监、JAVA工程师、安卓开发工程师、IOS开发工程师、UI设计、测试与产品经理、运维工程师组成。他们是一支严谨又富有创造力的团队。从客户体验角度发出，把握市场最前沿技术，以严谨的开发流程，精益化的项目运作制度，研发出最安全的系统和一流的平台体验。</p>
        <p class="aboutUs-text"><span style="font-weight:bold;">风险合规部</span>：团队成员均从事信贷、担保业务审批工作10多年，积累了严谨、专注的作风，团队为担保贷款业务专家，兼备贷前、贷中、贷后管理的综合能力。通过实地考察、严格审核、全方位分析、层层把关，确保每个项目的安全。</p>
        <p class="aboutUs-text"><span style="font-weight:bold;">运营部</span>：团队成员均来自业界知名网贷平台，拥有专业的互联网知识和运营推广经验，力求通过对行业敏锐的观察和快速高效的执行力，致力于为客户提供最优秀、最便捷、最完善的服务，带给客户最舒适的投资体验和最稳健的投资回报。</p>
    </div>
</div>
#parse("common/footer.html")
</body>
</html>