<!DOCTYPE html>
<html>
<head>#parse("common/head.html")
</head>
<body class="skin-blue sidebar-mini">
#parse("common/main-header.html")
<!-- Left side column. contains the logo and sidebar -->
#parse("common/main-sidebar.html")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>贷后管理</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <form action="" class="form-inline" id="defaultForm" method="post" novalidate="novalidate">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="input-group ">
                                    <div class="input-group-addon">标的名称</div>
                                    <input type="text" class="form-control" placeholder="" v-model="searchObj.bpName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group ">
                                    <div class="input-group-addon">项目编号</div>
                                    <input type="text" class="form-control" placeholder="" v-model="searchObj.bpNumberSear">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group ">
                                    <div class="input-group-addon">借款人</div>
                                    <input type="text" class="form-control" placeholder="" v-model="searchObj.bpTrueName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon">标的状态</div>
                                    <select class="form-control" style="width: 120px;" v-model="searchObj.bpStatusSear">
                                        <option value="(7,10)">全部</option>
                                        <option value="(7)">还款中</option>
                                        <option value="(10)">已还款</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">时间</div>
                                    <input type="text" placeholder="" class="form-control chooseDate" v-model="searchObj.searchDateSt" id="searchDateSt">
                                </div>
                                <div class="input-group" style="margin-left:-5px;">
                                    <div class="input-group-addon">至</div>
                                    <input type="text" placeholder="" class="form-control chooseDate" v-model="searchObj.searchDateEnd" id="searchDateEnd">
                                </div>
                            </div>
                            <div class="form-group">
                                <select  class="form-control" style="width: 120px;" v-model="searchObj.searchDateType">
                                    <option value="">不限</option>
                                    <option value="ind_date_time">计划还款日</option>
                                    <option value="ind_fact_date_time">实际到账日</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <div class="input-group  margin">
                                    <a href="javascript:void(0);" class="btn btn-primary " role="button">导出Excel</a>
                                </div>
                            </div>
                            <div class="form-group ">
                                <a href="javascript:void(0);" class="btn btn-primary " role="button" id="searchBtn" @click.prevent="search">搜索</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--表格内容-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div id="orderlist_table_wrapper" class="dataTables_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="orderlist_table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="orderlist_table_info">
                                        <thead>
                                        <tr role="row">
                                            <th width="7%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">标的名称</th>
                                            <th width="7%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">项目编号</th>
                                            <th width="5%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">借款人</th>
                                            <th width="5%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">期数</th>
                                            <th width="7%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">本息合计应还</th>
                                            <th width="7%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">计划还款日</th>
                                            <th width="7%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">逾期天数</th>
                                            <th width="7%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">逾期罚息</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">实际到账金额</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">实际到账日期</th>
                                            <th width="7%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">还款情况</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" v-for="data in incomeDetailList">
                                            <td>{{data.indBpName}}</td>
                                            <td>{{data.indBpNumber}}</td>
                                            <td>{{data.bpTrueName}}</td>
                                            <td>{{data.indPeriods}}</td>
                                            <td>{{data.indMoney}}</td>
                                            <td>{{data.indDateTime}}</td>
                                            <td>{{data.indOverdueDays}}</td>
                                            <td>{{data.indOverdueMoney}}</td>
                                            <td>{{data.indFactMoeny}}</td>
                                            <td>{{data.indFactDateTime}}</td>
                                            <td>{{repayStatus[data.indStatus]}}</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-default btn-xs" @click.prevent="openView(data.indBpId, data.indPeriods)">查看详情</a>
                                                <a v-if="data.indStatus==0" href="javascript:void(0);" class="btn btn-default btn-xs" @click.prevent="repay(data.indBpId, data.indPeriods)">还款</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 pagination">
                                    <div id="pageNum"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
#parse("common/footer.html")
<script src=$UrlHelperTool.href("/content/script/postLoan/index.js")></script>
</body>
</html>