<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebao.jebaodb.dao.mapper.report.ReportInvestmentMapper">
    <resultMap id="ReportresultMap" type="com.jebao.jebaodb.entity.report.ReportInvestment">
        <result column="bp_number" property="indBpNumber"/>
        <result column="ind_true_name" property="indTrueName"/>
        <result column="ii_money" property="iiMoney"/>
        <result column="li_login_name" property="liLoginName"/>
        <result column="li_create_time" property="liCreateTime"/>
        <result column="bp_interest_st" property="bpInterestSt"/>
        <result column="bp_repay_time" property="bpRepayTime"/>
        <result column="bp_cycle_type" property="bpCycleType"/>
        <result column="bp_interest_pay_type" property="bpInterestPayType"/>
        <result column="bp_rate" property="bpRate"/>
        <result column="ind_money" property="indMoney"/>
        <result column="bp_periods" property="bpPeriods"/>
    </resultMap>
    <!--公用的-->
    <sql id="Reportinvestment">
    bp_number, ind_true_name, ii_money, li_login_name,li_create_time,bp_interest_st,
    bp_repay_time,bp_cycle_type,bp_interest_pay_type,bp_rate,ind_money,bp_periods
  </sql>
    <!--查询投资人的收益明细-->
    <select id="getAll" resultMap="ReportresultMap">
        select
        <include refid="Reportinvestment"/>
        from tb_income_detail income
        LEFT JOIN tb_bid_plan bid ON income.ind_bp_id = bid.bp_id
        LEFT JOIN tb_login_info info ON income.ind_login_id=info.li_id
        left join tb_invest_info invest on income.ind_ii_id=invest.ii_id
    </select>
    <!--根据分页查询投资人的信息-->
    <!--parameterType="com.jebao.jebaodb.entity.report.InvestmentReportSM"-->
    <!-- parameterType="com.jebao.erp.web.responseModel.report.InvestmentReportVM-->
    <select id="selectByConditionForPage" resultMap="ReportresultMap" parameterType="com.jebao.jebaodb.entity.report.ReportInvestment">
        select
        <include refid="Reportinvestment"/>
        from tb_income_detail income
        LEFT JOIN tb_bid_plan bid ON income.ind_bp_id = bid.bp_id
        LEFT JOIN tb_login_info info ON income.ind_login_id=info.li_id
        left join tb_invest_info invest on income.ind_ii_id=invest.ii_id
        <where>
            <include refid="selectByCondition_Where_Clause"/>
            <if test="report.searchDateSt!=null and report.searchDateSt!=''">
             and   li_create_time between #{searchDateSt} and #{searchDateEnd}
            </if>
        </where>

        <if test="pageWhere.orderBy!=null">
            ORDER BY ${pageWhere.orderBy}
        </if>

        <if test="pageWhere.begin!=null and pageWhere.pageSize!=null">
            LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
        </if>

    </select>
    <!--封装字段-->
    <sql id="selectByCondition_Where_Clause">
        <if test="report.bpPeriods != null and report.bpPeriods !=0">
            AND bp_periods = #{report.bpPeriods}
        </if>
    <if test="report.indBpNumber != null and report.indBpNumber!=''">
            AND bp_number = #{report.indBpNumber}
        </if>
        <if test="report.indTrueName != null and report.indTrueName !=''">
            AND ind_tree_name = #{report.indTrueName}
        </if>
        <if test="report.iiMoney != null and report.iiMoney !=0">
            AND ii_money= #{report.iiMoney}
        </if>
        <if test="report.liLoginName != null and report.liLoginName !=''">
            AND li_login_name = #{report.liLoginName}
        </if>
        <if test="report.indBpNumber != null and report.indBpNumber !=''">
            AND ind_bp_number = #{report.indBpNumber,jdbcType=VARCHAR}
        </if>
        <if test="report.bpInterestSt != null and report.bpInterestSt !=''">
            AND bp_interest_st = #{report.bpInterestSt}
        </if>
        <if test="report.bpCycleType != null and report.bpCycleType !=0">
            AND bp_cycle_type = #{report.bpCycleType}
        </if>
        <!--修改过日期减去一天  等待修改 select  date_sub(#{report.bpRepayTime},interval 1 day)-->
        <if test="report.bpRepayTime != null and report.bpRepayTime !=''">
            AND by_repay_time = #{report.bpRepayTime }
        </if>
        <if test="report.bpInterestPayType != null and report.bpInterestPayType !=0">
            AND bp_interest_pay_type = #{report.bpInterestPayType}
        </if>
        <if test="report.bpRate != null and report.bpRate !=''">
            AND bp_rate = #{report.bpRate}
        </if>
        <if test="report.indMoney != null and report.indMoney !=0">
            AND ind_money= #{report.indMoney}
        </if>
        <if test="report.liCreateTime != null and report.liCreateTime != ''">
            and li_create_time= #{report.liCreateTime}
        </if>
    </sql>
    <!--&lt;!&ndash;查询当前的数量&ndash;&gt;-->
    <select id="selectPostLoanDetailCount" resultType="java.lang.Integer">
       SELECT
        count(*)
        FROM
        tb_income_detail income
		LEFT JOIN tb_bid_plan bid ON income.ind_bp_id = bid.bp_id
		LEFT JOIN tb_login_info info ON income.ind_login_id = info.li_id
		LEFT JOIN tb_invest_info invest ON income.ind_ii_id = invest.ii_id
  </select>
    <!--根据时间段查询相关的数据-->
    <select id="betweenDate" parameterType="java.util.Map" resultMap="ReportresultMap">
        <!--SELECT-->
        <!--*-->
        <!--FROM-->
        <!--tb_income_detail income-->
        <!--LEFT JOIN tb_bid_plan bid ON income.ind_bp_id = bid.bp_id-->
        <!--LEFT JOIN tb_login_info info ON income.ind_login_id = info.li_id-->
        <!--LEFT JOIN tb_invest_info invest ON income.ind_ii_id = invest.ii_id-->
        <!--where li_create_time BETWEEN '2016-7-25' and '2016-10-25'-->
        <!--AND bp_repay_time BETWEEN '2017-7-3' and '2017-7-5'-->
        select
        <include refid="Reportinvestment"/>
        from tb_income_detail income
        LEFT JOIN tb_bid_plan bid ON income.ind_bp_id = bid.bp_id
        LEFT JOIN tb_login_info info ON income.ind_login_id=info.li_id
        left join tb_invest_info invest on income.ind_ii_id=invest.ii_id
        <!-- <![CDATA[]]>:这是XML语法。在CDATA内部的所有内容都会被解析器忽略。因为这里有 ">"  "<=" 特殊字符所以要使用 <![CDATA[   ]]> 来注释-->
        where
          <!--li_create_time >= #{liCreateTime} and bp_repay_time  <![CDATA[ <= ]]> #{bpRepayTime}-->
            li_create_time between #{searchDateSt} and #{searchDateEnd}
    </select>
    <!--&lt;!&ndash;根据标的编号查询相关的数据&ndash;&gt;-->
    <select id="getId" parameterType="java.util.Map" resultType="java.lang.String"  resultMap="ReportresultMap">
        select
        <include refid="Reportinvestment" />
        from tb_income_detail income
        LEFT JOIN tb_bid_plan bid ON income.ind_bp_id = bid.bp_id
        LEFT JOIN tb_login_info info ON income.ind_login_id=info.li_id
        left join tb_invest_info invest on income.ind_ii_id=invest.ii_id
        <where>
            bp_number= #{indBpNumber}
        </where>
    </select>
</mapper>





