<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebao.jebaodb.dao.mapper.TbTempTestMapper" >
    <resultMap id="BaseResultMap" type="com.jebao.jebaodb.entity.TbTempTest" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, username, password
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from tb_temp_test
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from tb_temp_test
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jebao.jebaodb.entity.TbTempTest" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_temp_test (username, password)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.jebao.jebaodb.entity.TbTempTest" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_temp_test
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jebao.jebaodb.entity.TbTempTest" >
        update tb_temp_test
        <set >
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jebao.jebaodb.entity.TbTempTest" >
        update tb_temp_test
        set username = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--==================================================华丽分割线==================================================-->
    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_temp_test
        order by id DESC
        LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
    </select>
    <select id="selectByUserNameForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_temp_test
        WHERE
        <include refid="selectByUserName_Where_Clause" />
        order by id DESC
        LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
    </select>
    <select id="selectByUserNameForPageCount" resultType="java.lang.Integer">
        select count(*)
        from tb_temp_test
        WHERE
        <include refid="selectByUserName_Where_Clause" />
    </select>
    <sql id="selectByUserName_Where_Clause" >
        1=1
        AND username=#{record.username}
    </sql>
</mapper>