
<!DOCTYPE html>
<html>
<head>
    <title>第三方资金账户开通 -金额宝</title>
    #parse("common/head.html")
    <link rel="stylesheet" href="${filePath}/css/result.css">
</head>

<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")

<!--内容 begin-->
<div class="result-main clearfix">
    <div class="result-content">
        <img src="${filePath}/images/result-right.png">
        <h4>资金账户开通成功！</h4>
        <p class="result-btn clearfix"><a href="/user/index" class="go-account fl">查看我的账户</a><a href="/" class="go-btn fr">随便逛逛</a></p>
    </div>
</div>

<!--内容 end-->


#parse("common/footer.html")
</body>
</html>