<div class="wrapper">
<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>平</b>台</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>管理</b>平台</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <!--今日到期金额：<a href="/">{{ dueTotal }}</a>&nbsp&nbsp|&nbsp&nbsp今日应还金额：<a href="/">{{ repayTotal }}</a>-->
                    <a href="/account/logout" class="dropdown-toggle">退出平台</a>
                </li>
                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
</header>
    </div>