<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebao.jebaodb.dao.mapper.employee.TbEmpDepRelationshipMapper" >
  <resultMap id="BaseResultMap" type="com.jebao.jebaodb.entity.employee.TbEmpDepRelationship" >
    <id column="edr_id" property="edrId" jdbcType="INTEGER" />
    <result column="edr_emp_id" property="edrEmpId" jdbcType="INTEGER" />
    <result column="edr_dep_id" property="edrDepId" jdbcType="INTEGER" />
    <result column="edr_effect_date" property="edrEffectDate" jdbcType="DATE" />
    <result column="edr_expiry_date" property="edrExpiryDate" jdbcType="DATE" />
    <result column="edr_create_time" property="edrCreateTime" jdbcType="TIMESTAMP" />
    <result column="edr_create_user" property="edrCreateUser" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    edr_id, edr_emp_id, edr_dep_id, edr_effect_date, edr_expiry_date, edr_create_time, 
    edr_create_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_emp_dep_relationship
    where edr_id = #{edrId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.jebao.jebaodb.entity.employee.TbEmpDepRelationship" >
    <selectKey resultType="java.lang.Integer" keyProperty="edrId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_emp_dep_relationship (edr_emp_id, edr_dep_id, edr_effect_date, 
      edr_expiry_date, edr_create_time, edr_create_user
      )
    values (#{edrEmpId,jdbcType=INTEGER}, #{edrDepId,jdbcType=INTEGER}, #{edrEffectDate,jdbcType=DATE}, 
      #{edrExpiryDate,jdbcType=DATE}, #{edrCreateTime,jdbcType=TIMESTAMP}, #{edrCreateUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jebao.jebaodb.entity.employee.TbEmpDepRelationship" >
    <selectKey resultType="java.lang.Integer" keyProperty="edrId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_emp_dep_relationship
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="edrEmpId != null" >
        edr_emp_id,
      </if>
      <if test="edrDepId != null" >
        edr_dep_id,
      </if>
      <if test="edrEffectDate != null" >
        edr_effect_date,
      </if>
      <if test="edrExpiryDate != null" >
        edr_expiry_date,
      </if>
      <if test="edrCreateTime != null" >
        edr_create_time,
      </if>
      <if test="edrCreateUser != null" >
        edr_create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="edrEmpId != null" >
        #{edrEmpId,jdbcType=INTEGER},
      </if>
      <if test="edrDepId != null" >
        #{edrDepId,jdbcType=INTEGER},
      </if>
      <if test="edrEffectDate != null" >
        #{edrEffectDate,jdbcType=DATE},
      </if>
      <if test="edrExpiryDate != null" >
        #{edrExpiryDate,jdbcType=DATE},
      </if>
      <if test="edrCreateTime != null" >
        #{edrCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="edrCreateUser != null" >
        #{edrCreateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jebao.jebaodb.entity.employee.TbEmpDepRelationship" >
    update tb_emp_dep_relationship
    <set >
      <if test="edrEmpId != null" >
        edr_emp_id = #{edrEmpId,jdbcType=INTEGER},
      </if>
      <if test="edrDepId != null" >
        edr_dep_id = #{edrDepId,jdbcType=INTEGER},
      </if>
      <if test="edrEffectDate != null" >
        edr_effect_date = #{edrEffectDate,jdbcType=DATE},
      </if>
      <if test="edrExpiryDate != null" >
        edr_expiry_date = #{edrExpiryDate,jdbcType=DATE},
      </if>
      <if test="edrCreateTime != null" >
        edr_create_time = #{edrCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="edrCreateUser != null" >
        edr_create_user = #{edrCreateUser,jdbcType=INTEGER},
      </if>
    </set>
    where edr_id = #{edrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jebao.jebaodb.entity.employee.TbEmpDepRelationship" >
    update tb_emp_dep_relationship
    set edr_emp_id = #{edrEmpId,jdbcType=INTEGER},
      edr_dep_id = #{edrDepId,jdbcType=INTEGER},
      edr_effect_date = #{edrEffectDate,jdbcType=DATE},
      edr_expiry_date = #{edrExpiryDate,jdbcType=DATE},
      edr_create_time = #{edrCreateTime,jdbcType=TIMESTAMP},
      edr_create_user = #{edrCreateUser,jdbcType=INTEGER}
    where edr_id = #{edrId,jdbcType=INTEGER}
  </update>


  <!--==================================================华丽分割线==================================================-->
  <select id="selectCurrentEmpRelation" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from tb_emp_dep_relationship
    where edr_emp_id = #{edrEmpId,jdbcType=INTEGER} ORDER BY edr_effect_date DESC LIMIT 0,1
  </select>

</mapper>