<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebao.jebaodb.dao.mapper.employee.TbRankMapper" >
  <resultMap id="BaseResultMap" type="com.jebao.jebaodb.entity.employee.TbRank" >
    <id column="rank_id" property="rankId" jdbcType="INTEGER" />
    <result column="rank_name" property="rankName" jdbcType="VARCHAR" />
    <result column="rank_parent_id" property="rankParentId" jdbcType="INTEGER" />
    <result column="rank_brokerage_percent" property="rankBrokeragePercent" jdbcType="DECIMAL" />
    <result column="rank_is_del" property="rankIsDel" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    rank_id, rank_name, rank_parent_id, rank_brokerage_percent, rank_is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_rank
    where rank_id = #{rankId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.jebao.jebaodb.entity.employee.TbRank" >
    <selectKey resultType="java.lang.Integer" keyProperty="rankId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_rank (rank_name, rank_parent_id, rank_brokerage_percent,
    rank_is_del)
    values (#{rankName,jdbcType=VARCHAR}, #{rankParentId,jdbcType=INTEGER}, #{rankBrokeragePercent,jdbcType=DECIMAL},
    #{rankIsDel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jebao.jebaodb.entity.employee.TbRank" >
    <selectKey resultType="java.lang.Integer" keyProperty="rankId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rankName != null" >
        rank_name,
      </if>
      <if test="rankParentId != null" >
        rank_parent_id,
      </if>
      <if test="rankBrokeragePercent != null" >
        rank_brokerage_percent,
      </if>
      <if test="rankIsDel != null" >
        rank_is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rankName != null" >
        #{rankName,jdbcType=VARCHAR},
      </if>
      <if test="rankParentId != null" >
        #{rankParentId,jdbcType=INTEGER},
      </if>
      <if test="rankBrokeragePercent != null" >
        #{rankBrokeragePercent,jdbcType=DECIMAL},
      </if>
      <if test="rankIsDel != null" >
        #{rankIsDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jebao.jebaodb.entity.employee.TbRank" >
    update tb_rank
    <set >
      <if test="rankName != null" >
        rank_name = #{rankName,jdbcType=VARCHAR},
      </if>
      <if test="rankParentId != null" >
        rank_parent_id = #{rankParentId,jdbcType=INTEGER},
      </if>
      <if test="rankBrokeragePercent != null" >
        rank_brokerage_percent = #{rankBrokeragePercent,jdbcType=DECIMAL},
      </if>
      <if test="rankIsDel != null" >
        rank_is_del = #{rankIsDel,jdbcType=BIT},
      </if>
    </set>
    where rank_id = #{rankId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jebao.jebaodb.entity.employee.TbRank" >
    update tb_rank
    set rank_name = #{rankName,jdbcType=VARCHAR},
    rank_parent_id = #{rankParentId,jdbcType=INTEGER},
    rank_brokerage_percent = #{rankBrokeragePercent,jdbcType=DECIMAL},
    rank_is_del = #{rankIsDel,jdbcType=BIT}
    where rank_id = #{rankId,jdbcType=INTEGER}
  </update>

  <!--==================================================华丽分割线==================================================-->
  <select id="selectList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include> FROM tb_rank
    <where>
      <include refid="dynamicWehre"/>
    </where>
    order by rank_parent_id LIMIT #{begin},#{pageSize}
  </select>
  <select id="selectListCount" resultType="integer">
    SELECT COUNT(*) FROM tb_rank
    <where>
      <include refid="dynamicWehre"/>
    </where>
  </select>
  <sql id="dynamicWehre">
    <if test="name != null and name != ''">
      AND rank_name LIKE #{name,jdbcType=VARCHAR}
    </if>
    <if test="parentId != null">
      AND (rank_parent_id = #{parentId,jdbcType=INTEGER}
      <if test="parentAndSelf">
        or rank_id = #{parentId,jdbcType=INTEGER}
      </if>
      )
    </if>

  </sql>
  <delete id="delete" parameterType="integer">
    UPDATE tb_rank SET rank_is_del=1 where rank_id = #{value,jdbcType=INTEGER}
  </delete>

</mapper>