<!DOCTYPE html>
<html>
<head>#parse("common/head.html")
</head>
<body class="skin-blue sidebar-mini">
#parse("common/main-header.html")
<!-- Left side column. contains the logo and sidebar -->
#parse("common/main-sidebar.html")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>借款信息-开标被拒</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!--表格内容-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div id="orderlist_table_wrapper" class="dataTables_wrapper">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="orderlist_table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="orderlist_table_info">
                                        <thead>
                                        <tr role="row">
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">标的ID</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">标的名称</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">借款类型</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">姓名</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">借款总金额</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">利率</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">期限</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">申请时间</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">备注</th>
                                            <th width="9%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd"  v-for="plan in planlist">
                                            <td>{{plan.bpId}}</td>
                                            <td>{{plan.bpName}}</td>
                                            <td>{{bpTypeArr[plan.bpType]}}</td>
                                            <td>{{plan.bpTrueName}}</td>
                                            <td>{{plan.bpBidMoney}}</td>
                                            <td>{{plan.bpRate}}%</td>
                                            <td>{{plan.bpPeriodsDisplay}}{{bpCycleTypeArr[plan.bpCycleType]}}</td>
                                            <td>{{plan.bpCreateTime}}</td>
                                            <td>{{plan.bpRemark}}</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-default btn-xs" role="button" @click.prevent="modifyPlanBtn(plan.bpId)">修改信息</a>
                                                <a href="javascript:void(0);" class="btn btn-default btn-xs remove-msg cmd-delete" role="button" @click.prevent="removePlanBtn(plan.bpId)">删除</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 pagination">
                                    <div id="pageNum"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
#parse("common/footer.html")
</body>
<script src=$UrlHelperTool.href("/content/script/bidplan/notpasslist.js")></script>
</html>