
<!DOCTYPE html>
<html>
<head>
    <title>错误 -金额宝</title>
    #parse("common/head.html")
    <link rel="stylesheet" href="${filePath}/css/result.css">
</head>

<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")

<!--内容 begin-->
<div class="result-main clearfix">
    <div class="result-content">
        <img src="${filePath}/images/result-error.png">
        <h4>操作失败</h4>
        <p>您尚未开通第三方资金管理账户，<span class="time">3</span>秒后跳转<a href="/userfund/register" class="myAccount">资金账户开通</a></p>
        <a href="/userfund/register" class="go-btn">立即跳转</a>
    </div>
</div>

<!--内容 end-->

#parse("common/footer.html")
<script>
    $(function(){
        var $target = $(".time");
        var leftSeconds = parseInt($target.html());
        var timerInterval = setInterval(function () {
            leftSeconds--;
            if (leftSeconds === 0) {
                clearInterval(timerInterval);
                window.location.href= $(".result-content .go-btn").attr("href");
            }else{
                $target.html(leftSeconds);
            }
        }, 1000);
    });
</script>
</body>
</html>