<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    #parse("common/head.html")

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头部菜单 -->
    #parse("common/main-header.html")
    <!-- 左侧菜单 -->
    #parse("common/main-sidebar.html")
    <!-- 页面主内容 -->
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12">


            </div>

        </div>

    </div>
    <!-- /.content-wrapper -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->

#include("common/footer.html")

<script>

</script>
</body>
</html>
