<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>合同模板</title>
    <link rel="stylesheet" href="/content/css/contract-bootstrap.css">
    <style>
        body{
            padding-bottom: 30px;
        }
        span{
            font-weight: normal !important;
        }
        .header, .footer{
            position: relative;
        }
        .header img{
            width: 115px;
            position: absolute;
            top: 60px;
            left: 215px;
        }
        .footer img{
            width: 115px;
            position: absolute;
            top: 10px;
            left: 120px;
        }
    </style>
</head>
<body>
#if($commData)
#if($data)
<header>
    <div class="modal-title">
        <h1 class="text-center">债权转让协议 </h1>
        <p class="h3 text-right">标的编号：$!commData.bidNumber </p>
    </div>
    <div class="container">
        <h3>受让方：<span>$!data.name（以下简称甲方）</span></h3>
        <h3>证件类型：<span>身份证</span></h3>
        <h3>证件号码：<span>$!data.investerNumber </span></h3>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>姓名</th>
                <th>出借金额</th>
                <th>出借日期</th>
                <th>到期日期</th>
                <th>到期应收本息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>$!data.name	</td>
                <td>¥$!data.investMoney元</td>
                <td>$!commData.interestSt</td>
                <td>$!commData.interestEt</td>
                <td>¥$!data.totalMoney元</td>
            </tr>
            </tbody>
        </table>
        <p>注1：若在客户申请转让债权并成功转让的情况下，到期应收本息会依据实际存续天数计算。</p>
        <div class="header">
            <h3>转让方：<span>$!commData.loanerTrueName（以下简称乙方） </span></h3>
            <h3>证件类型：<span>身份证</span></h3>
            <h3>证件号码：<span>$!commData.loanerNumber</span></h3>
            <h3>见证人：<span>金额宝互联网信息科技（北京）有限公司</span></h3>
            <h3>证件类型：<span>营业执照 </span></h3>
            <h3>证件号码：<span>91110105MA002E938J </span></h3>
            <p style="text-indent: 2em;" class="small">甲、乙双方经友好协商，就乙方向甲方转让基础协议项下债权相关事宜达成一致，并通过见证人开发并运营的金额宝网络站点的见证并交易，甲、乙、见证人三方签署本协议，并依照本协议中约定之条款与条件享有权利和履行义务。</p>
            <img src="/content/images/zhang.png">
        </div>
            <br/><br/><br/><br/><br/><br/><br/>
        <h2 class="text-center">第一章 定义与解释</h2>
        <h3>第一条 <span>定义：</span></h3>
        <p>1．金额宝：指由金额宝互联网信息科技（北京）有限公司开发并运营的，撮合出借人和借款人需求的网络站点（以下简称“网站”）。</p>
        <p>2．债权转让：指债权人根据本协议约定的条款和条件，将基础协议项下的债权转让给甲方或其他受让方的行为。</p>
        <p>3．债权转让生效日：指本协议中约定的债权从乙方转移到甲方的日期，简称“转让生效日”。</p>
        <p>4．债权转让价款：指甲方根据本协议的约定受让乙方所转让的债权，应向乙方支付的转让价款；或者乙方转让持有债权应向新受让方支付的转让价款，简称“转让价款”。</p>
        <p>5．债权转让总价款：指乙方将基础协议项下全部债权转让后所获得的转让价款总额；或者乙方转让持有债权应向新受让方支付的转让总价款简称“转让总价款”。</p>
        <p>6．甲方债权受让比例：指甲方依据本协议受让乙方所转让债权占乙方本次所转让全部债权的比例，简称“受让比例”。</p>
        <p>7．筹标：指见证人根据乙方委托在其经营的金额宝发布债权转让相关信息，并推荐金额宝的注册用户（含甲方）受让债权的行为。</p>
        <p>8．筹标成功：金额宝上的注册用户投标受让的总金额等于债权转让总价款。</p>
        <p>9．富友：金额宝互联网信息科技（北京）有限公司所运营的网站“金额宝”的线上资金支付系统指定由富友支付提供。</p>
        <h3>第二条 <span>关于各方当事人的定义：</span></h3>
        <p>1．债权转让方：指基础协议中的出借人，即本协议中的乙方，以下简称“转让方”或“乙方”。</p>
        <p>2．债权受让方：指受让乙方所转让债权的包括甲方在内的多个受让方，本协议项下的债权受让方为甲方。</p>
        <p>3．借款人：指基础协议当中负有借款本息偿还义务的一方，以下简称“借款人”。</p>
        <p>4．见证人：指为转让方与受让方之间的债权转让交易进行见证，并为双方设立平台账户、提供交易资金划转等服务的一方。</p>
        <h2 class="text-center">第二章 债权转让</h2>
        <h3>第三条 <span>本协议项下转让的债权为基础协议项下中的部分债权/全部债权（详见下表“转让债权清单”），债权总额为¥<strong>$!commData.loanMoney</strong>元（发标金额），大写：人民币<strong>$!commData.loanMoneyRMB</strong>。乙方将该债权通过金额宝向受让人进行转让。</span></h3>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>还款方式</th>
                <th>$!commData.interestPayType</th>
                <th colspan="2">金额（大写）</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>借款本金</td>
                <td>¥$!data.investMoney元</td>
                <th colspan="2">人民币$!data.investMoneyRMB</td>
            </tr>
            <tr>
                <td>到期应还本息</td>
                <td>¥$!data.totalMoney元</td>
                <th colspan="2">人民币$!data.totalMoneyRMB</td>
            </tr>
            <tr>
                <td>期限</td>
                <td>$!commData.bidPeriods</td>
                <td>到期日</td>
                <td>$!commData.interestEt</td>
            </tr>
            <tr>
                <td>起止日期</td>
                <td colspan="3">$!commData.interestSt至$!commData.interestEt</td>
            </tr>
            </tbody>
        </table>
        <p>注1：若在客户申请转让债权并成功转让的情况下，到期应收本息会依据实际存续天数计算。</p>
        <h3>第四条 <span>债权转让期限起始日为<strong>$!commData.interestSt</strong>，到期日为<strong>$!commData.interestEt</strong>。如实际转让日与协议约定不一致的，起始日为甲方实际支付债权转让价款之日（根据系统记录的支付日期），转让到期日根据原标的期限顺延。</span></h3>
        <h3>第五条 <span>甲方可在金额宝网站中“权益交易中心”挂牌转让，并从新债权受让人支付给甲方的本金中扣除甲方满期应得收益的剩余未获得部分的50%作为转让手续费。实际计息日截止于转让成功（即赎回本息到甲方的金额宝账户内）的前一天。</span></h3>
        <h3>第六条 <span>甲方依据本协议受让的债权所对应的借款本息金额＝甲方债权受让比例×基础协议项下债权总额。就上述债权的转让，甲方应向乙方支付转让价款¥<strong>$!data.investMoney </strong>元(大写：人民币<strong>$!data.investMoneyRMB</strong>）。乙方所转让的债权详见附件一“资产清单”，见证人为甲乙双方债权转让提供平台、资金管理及第三方支付等服务，见证人为甲方筛选优质项目并提供债权转让事项相应的信用审核及贷后管理服务。</span></h3>
        <h3>第七条 <span>债权转让后，乙方仍负有对基础协议项下借款本息进行管理及催收的义务，并负责将甲方受让债权对应的借款本金及收益支付给甲方。</span></h3>
        <h3>第八条 <span>因甲、乙双方就本次债权转让事宜不直接当面接触，为保证交易资金安全，见证人通过签订协议要求经中国人民银行颁发牌照批准运营的第三方支付公司富友开立标的账户，作为交易资金的托管账户。为方便交易资金结算及提现，甲方和乙方通过金额宝网站分别在富友开设第三方账户（下称“甲方第三方账户”和“乙方第三方账户”）。前述第三方账户作为交易资金划转的中转账户，见证人同时提供相关款项冻结及代收代付的服务。</span></h3>
        <p style="text-indent: 2em;">本协议签署前，甲方需将转让价款充值进入甲方第三方账户，并被第三方支付公司冻结为拟投标款直至标的满额开始计息或投标期结束且标的未满流标；债权转让期满当日上午12时前，乙方应将所转让债权对应的借款本息充值进入乙方第三方账户，第三方支付公司富友将从乙方第三方账户扣划所转让债权对应的借款本息至标的账户，并根据金额宝记录的转让债权对应的借款本息金额分别按照受让比例扣划至甲方第三方账户。如债权转让期满日为周六日或法定节假日的，乙方的汇款时间应提前至前一工作日的上午12:00前。</p>
        <h3>第九条 <span>本协议项下甲方所受让的债权与其他受让方所受让的基础协议项下之债权相互独立，各受让方之间不因受让同一基础协议项下之债权而相互承担连带责任。</span></h3>
        <h3>第十条 <span>债权转让成功后，本协议项下的相关信息的更新将通过金额宝网站进行公告，甲方应及时查看。</span></h3>
        <h2 class="text-center">第三章 见证人的权利和义务</h2>
        <h3>第十一条 <span>当债权转让期限届满时，见证人需要根据本协议约定为甲方发布或推荐新的债权人，并为甲方自动生成《债权转让协议》并将甲方持有的债权转让给新的债权受让人，转让债权的转让对价为¥<strong>$!data.totalMoney</strong>元（大写人民币<strong>$!data.totalMoneyRMB</strong>）。</span></h3>
        <h3>第十二条 <span>见证方应当在借款方逾期还款时，用风险备用金先行垫付乙方应偿还给甲方的本息（以下简称为“垫付的借款本息”）。若见证方先行垫付，在甲方收到该款项之日起，视为乙方对甲方履行完该笔款项的还款义务，甲方对乙方就垫付的借款本息部分的债权至此转让给见证方，乙方应直接向见证方偿还其垫付的借款本息，并按照相关协议向见证方支付逾期罚息和违约金。</span></h3>
        <h2 class="text-center">第四章 甲方的权利和义务</h2>
        <h3>第十三条 <span>自转让生效日起，甲方享有所受让债权对应的权利，甲方应按照本协议约定内容支付见证人服务费。</span></h3>
        <h3>第十四条 <span>发生如下情形之一时，甲方有权要求乙方向借款人提出提前归还借款之本息：</span></h3>
        <p>1．乙方提供虚假资料、故意隐瞒重要事实或违反其在本协议中所做的陈述和保证；</p>
        <p>2．乙方在由见证人见证的其他债权转让协议中出现违约情形；</p>
        <p>3．乙方转移资产、抽逃资金，或卷入或即将卷入重大的诉讼或仲裁程序及其他法律纠纷，或出现乙方丧失或可能丧失履行债务能力的其他情形；</p>
        <p>4．乙方被撤销、吊销营业执照、责令关闭或者出现其他解散事由的；</p>
        <p>5．出现其他对甲方权益造成重大影响，且由乙方行为导致的结果或事项。</p>
        <h3>第十五条 <span>本协议发生法律效力之后，甲方不得单方面终止本协议项下债权的受让或擅自向第三方转让、质押其通过本协议受让的债权。经过见证人允许，甲方可更换或补充资产清单中的债权。</span></h3>
        <h2 class="text-center">第五章 乙方的权利和义务</h2>
        <h3>第十六条 <span>如发生以下情况，乙方有权宣布本协议项下债权转让不成功并应同时通知见证人，见证人应在乙方宣布转让不成功之日解除甲方平台账户内的资金冻结，前述情况是指：在转让生效日前，因任何原因导致本协议项下债权转让行为无法实施的。</span></h3>
        <h3>第十七条 <span>乙方向甲方承诺和保证如下：</span></h3>
        <p>1．乙方有权实施本协议项下债权转让行为，其与借款人签署的基础协议中不含有禁止乙方向第三方转让基础协议项下全部或部分权利的限制；</p>
        <p>2．基础协议合法有效且履行正常；</p>
        <p>3．乙方已完全履行基础协议项下义务，借款人在任何情况下不会以乙方对基础协议违约为由拒绝归还借款本息；</p>
        <p>4．所转让的债权对应的借款本息属尚未到期且借款人尚未支付的借款本息，该等债权属乙方合法所有，乙方对其享有独立、完整的权利；</p>
        <p>5．乙方承诺不会对转让给甲方的债权进行重复转让。</p>
        <h2 class="text-center">第六章 违约责任</h2>
        <h3>第十八条 <span>甲、乙双方均应遵守本协议的约定，任何一方对本协议构成违约给对方和见证方造成实际损失的，均应承担违约赔偿责任。</span></h3>
        <h2 class="text-center">第七章 协议的生效和终止</h2>
        <h3>第十九条 <span>本协议经甲方通过金额宝网站以网络在线点击确认的方式订立，协议自甲方点击确认同意后生效，至协议项下权利、义务履行完毕时终止。</span></h3>
        <h2 class="text-center">第八章 保密条款</h2>
        <h3>第二十条 <span>本协议签署后，除非事先得到另一方的书面同意，本协议双方均应承担以下保密义务：</span></h3>
        <p>1．任何一方不得向非本协议方披露本协议及与本协议相关的事宜以及与该等事宜有关的任何文件、资料或信息（“保密信息”）;</p>
        <p>2．任何一方只能将保密信息和其内容用于本协议项下之目的，不得用于任何其他目的。本款的约定不适用于下列信息：</p>
        <p>(1）从披露方获得时，已是公开的；</p>
        <p>(2）从披露方获得前，接受方已经获知的；</p>
        <p>(3）从有正当权限并不受保密义务制约的第三方获得的；</p>
        <p>(4）非依靠披露方披露或提供的信息独自开发的。</p>
        <h3>第二十一条 <span>本协议各方因下列原因披露保密信息，不受前款的限制：</span></h3>
        <p>1．向本协议各方的董事、监事、高级管理人员和执行本协议项下事务的员工及其聘请的会计师、律师、咨询公司披露；</p>
        <p>2．因遵循可适用的法律、法规的强制性规定而披露；</p>
        <p>3．依据其他应遵守的法律、法规向审批机构和/或权力机构进行的披露。</p>
        <h3>第二十二条 <span>本协议任何一方应采取所有其他必要、适当和可以采取的措施，以确保保密信息的保密性。各方应促使其员工严格遵守本保密约定。</span></h3>
        <h3>第二十三条 <span>本协议项下的保密义务在本协议终止后持续有效，直至保密信息向社会公开。</span></h3>
        <h2 class="text-center">第九章 其他事项</h2>
        <h3>第二十四条 <span>本协议项下转让价款、违约金及其他应付款项的支付、划转方式与借款本金的支付、划转方式相同；除本协议约定的相关责任外，由于本协议各方不可抗力因素导致本协议各方收到的相关款项时间与原始债权协议约定不一致的，平台方不承担相关违约责任，包括但不限于支付系统，银行账户划转等原因。</span></h3>
        <h3>第二十五条 <span>甲、乙双方委托金额宝保管所有与本协议有关的书面文件或电子信息，一致确认并同意金额宝提供的与本协议有关的书面文件或电子信息应作为本协议有关事项的有效证明。</span></h3>
        <h3>第二十六条 <span>甲、乙双方依照相关法律规定各自承担本协议订立和履行过程中发生的税费。</span></h3>
        <h3>第二十七条 <span>甲、乙双方任意一方遭遇不可抗力事件，应立即通知对方及见证人，并在15日内提供证明文件说明有关事件的细节和不能履行或部分不能履行或需延迟履行本协议的原因。</span></h3>
        <h3>第二十八条 <span>本协议中部分条款依据相关法律、法规的规定成为无效或部分无效时，该等无效或部分无效不影响本协议项下其他条款的效力。</span></h3>
        <h3>第二十九条 <span>甲、乙双方同意并授权见证人根据甲、乙双方任何一方的合理要求向其提供另一方向金额宝提供的所有信息。一方向另一方提出的所有要求均经由见证人转达。</span></h3>
        <h3>第三十条 <span>双方授权和委托见证人根据本协议所采取的全部行动和措施的法律后果均各自承担，见证人不承担任何责任。甲、乙双方同意并确认，本协议项下双方之间或双方与见证人之间在任何时候均不是也不会被认为是信托法律关系。</span></h3>
        <h3>第三十一条 <span>鉴于本协议项下的转让价款及借款本息均经由见证人转付，甲、乙双方在此约定，本协议的履行地为见证人所在地。</span></h3>
        <h3>第三十二条 <span>本协议项下的任何争议，应由双方友好协商解决，若协商不成，任一方可向本协议履行地人民法院提起诉讼。</span></h3>
        <h3>第三十三条 <span>本协议采用电子签章，打印后与纸质协议具有同等法律效力。</span></h3>
        <p>（以下无正文，为签字盖章页。）</p>
        <br>
        <div class="footer">
            <h3>甲方：<span>$!data.name</span></h3>
            <h3>乙方：<span>$!commData.loanerTrueName</span></h3>
            <h3>见证人：<span>金额宝互联网信息科技（北京）有限公司</span></h3>
            <h3>日期：<span>$!commData.loanTime</span></h3>
            <img src="/content/images/zhang.png">
        </div>
        <table class="table-bordered table">
            <thead>

            <tr>
                <th>序号</th>
                <th>出借人</th>
                <th>债权金额</th>
                <th>标的标号</th>
            </tr>
            </thead>
            <tbody>
            #foreach($info in $commData.infos)
            <tr>
                <td>$!{velocityCount}</td>
                <td>$info.name.substring(0,1)***</td>
                <td>¥$!info.investMoney元</td>
                <td>$!info.bidNumber</td>
            </tr>
            #end
            <tr>
                <td></td>
                <td>出借款总计</td>
                <td>¥$!commData.loanMoney元</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</header>
#end
#end
</body>
</html>