<!Doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>开通资金账户</title>
    #parse("common/head.html")
    <link rel="stylesheet" type="text/css" href="${filePath}/css/result.css">
</head>
<body>
<div class="wrap result-main">
    <img src="${filePath}/images/success-img.jpg">
    <h3 class="mb2">恭喜您，资金账户开通成功</h3>
    <a href="/account/recharge" class="goBlue">去充值</a>
    <a href="/account/" class="goBlack">我的财富</a>
</div>
</body>
<script src="${filePath}/js/lib/base.js"></script>
</html>