<!DOCTYPE html>
<html>
<head>
    <title>信投资本综合管理系统</title>
    #parse("common/head.html")
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头部菜单 -->
    #parse("common/main-header.html")
    <!-- 左侧菜单 -->
    #parse("common/main-sidebar.html")
    <!-- 页面主内容 -->
    <div class="content-wrapper">

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">修改密码</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" id="password_form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="old_password" class="col-sm-2 control-label">当前密码</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="old_password" name="currentPassword" placeholder="当前密码" v-model="submitObj.currentPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new_password" class="col-sm-2 control-label">新密码</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="new_password" name="newPassword"
                                               placeholder="新密码" v-model="submitObj.newPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new_password2" class="col-sm-2 control-label">确认密码</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="new_password2" name="newPassword2"
                                               placeholder="确认密码" v-model="submitObj.newPassword2">
                                    </div>
                                </div>
                                <div class="has-error" :class="{hide:error.hide }">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <small class="help-block">{{error.message}}</small>
                                    </div>
                                </div>

                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-primary" @click="submit">保存</button>
                                </div>

                            </div><!-- /.box-footer -->
                        </form>
                    </div>
                </div>

            </div>

        </section>

    </div>
    <!-- /.content-wrapper -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->

#include("common/footer.html")
<script src="/content/script/account/password.js"></script>
</body>
</html>
