#set($filePath = $UrlHelperTool.getStaticFilePath())
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no">
<link rel="stylesheet" type="text/css" href="${filePath}/css/lib/base.css">
<script src="${filePath}/js/lib/jquery.js"></script>