<!DOCTYPE html>
<html>
<head>
    <title>金额宝 - 官网全面升级</title>
    #parse("common/head.html")
    <!--css-->
    <link rel="stylesheet" href="${filePath}/css/promote.css">
</head>
<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--内容 begin-->
<div class="promote-title"></div>
<div class="promote">
    <div class="promote-content">
        <div class="promote-content1 clearfix">
            <div class="content1-left fl">
                <h4>流畅体验<span>Experience Fuency </span></h4>
                <img src="${filePath}/images/promote-line.png">
                <ul>
                    <li>界面美观 有颜值有内涵</li>
                    <li>扁平设计 明快清新</li>
                    <li>页面简洁 操作更顺畅 </li>
                </ul>
            </div>
            <div class="content1-right fr">
                <img src="${filePath}/images/circular1.png" alt="">
            </div>
        </div>
        <div class="promote-content2 clearfix">
            <div class="content2-left fl">
                <img src="${filePath}/images/circular2.png" alt="">
            </div>
            <div class="content2-right fl">
                <img src="${filePath}/images/circular3.png" alt="">
            </div>
        </div>
        <div class="promote-content3">
            <img src="${filePath}/images/promote-img4.png" alt="">
            <ul>
                <li>
                    <img src="${filePath}/images/promote-icon.png">
                    <p>新手指引</p>
                </li>
                <li>
                    <img src="${filePath}/images/promote-icon2.png">
                    <p>帮助中心</p>
                </li>
                <li>
                    <img src="${filePath}/images/promote-icon3.png">
                    <p>安全保障</p>
                </li>
                <li>
                    <img src="${filePath}/images/promote-icon4.png">
                    <p>财经资讯一点通</p>
                </li>
                <li>
                    <img src="${filePath}/images/promote-icon5.png">
                    <p>投资机遇尽收囊中</p>
                </li>
            </ul>
        </div>
        <div class="promote-content4 clearfix">
            <div class="content1-left fl">
                <h4>创新服务<span>Service Innovation</span></h4>
                <img src="${filePath}/images/promote-line.png">
                <ul>
                    <li>开年大礼包 财富节节高</li>
                    <li>加息券任性兑 投资更智慧</li>
                </ul>
            </div>
            <div class="content4-right fr">
                <img src="${filePath}/images/promote-img6.png" alt="" class="hotBag">
                <img src="${filePath}/images/promote-img5.png" alt="" class="character">
            </div>
        </div>
        <div class="promote-content5">
            <img src="${filePath}/images/promote-img7.png" alt="">
        </div>
    </div>
</div>
<!--内容 end-->
#parse("common/footer.html")
</body>
</html>