<!DOCTYPE html>
<html>
<head>
    <title>金额宝 - 年度盛典</title>
    #parse("common/head.html")
    <!--css-->
    <link rel="stylesheet" href="${filePath}/css/special.css">
</head>
<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--内容 begin-->
<div class="special-title"></div>
<div class="special">
    <div>
        <div class="special-content1"></div>
        <div class="special-content2"></div>
        <div class="special-content3"></div>
        <div class="special-content4"></div>
        <div class="special-content5"></div>
        <div class="special-content6"></div>
        <div class="special-content7">
            <h4>金额宝的新年大礼包，没有理由拒绝！</h4>
            <p>登陆金额宝官网：<span>www.jebao.net</span>或 关注微信公众号：<span>金额宝</span>，查看详情。</p>
            <p>如有疑问，可以致电 <span>010-65006966。</span></p>
            <h5>送现金，金额宝是认真的！</h5>
            <a href="/html/product">去看看</a>
        </div>
    </div>
</div>
<!--内容 end-->
#parse("common/footer.html")
</body>
</html>