<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=1200" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>红包专题</title>
    #parse("common/head.html")
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="format-detection" content="telephone=no" />
<script src="${filePath}/js/modernizr-2.0.6.js" type="text/javascript"></script>

<link href="${filePath}/css/global.css" rel="stylesheet" type="text/css">
<link href="${filePath}/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
 <div class="hbbg">
   <div class="hongbao_cont">
     <div class="cont1">
    	 <h3 class="head_one"><img src="${filePath}/images/gxbt.png"></h3>
		 <p class="cont1_word" style="margin-top:112px;">
             东方风来满眼春，扬帆再起航！<br>
			<b>金额宝APP，满载惊喜，飞升登场！</b>
		 </p>
         <p class="cont1_word">
             <b>4月1日起，新手注册就送<b style="font-size:36px;">1088元现金红包，</b></b><br>
             对，你没看错，<b>不是88，也不是888，而是1088！</b><br>
             鼠标轻轻一点，投资达标，就得红包！<br>
             无需等到投资到期，而是，投资后就返现！<br>
             送红包，金额宝是认真的！<br>
             <b>“抢红包大战”一触即发！</b><br>
             金额宝准备好了，你还在犹豫啥，赶紧看攻略吧！
         </p>
	 </div>
	 <div class="cont2">
	 	<h3 class="head_two">红包使用规则</h3>
		<span>短期项目（3个月及以上标的可用）</span>
		<p>
			<b>6</b>元　　　&nbsp; 单笔投资≥<b>200</b>元可激活<br>
			<b>10</b>元　　　单笔投资≥<b>2000</b>元可激活<br>
			<b>20</b>元　　　单笔投资≥<b>6000</b>元可激活<br>
			<b>40</b>元　　　单笔投资≥<b>10000</b>元可激活
		</p>
		<span style="margin-top:52px;">长期项目（12个月及以上标的可用）</span>
		<p>
			<b>58</b>元　　　&nbsp;单笔投资≥<b>10000</b>元可激活<br>
			<b>118</b>元　　&nbsp;&nbsp;单笔投资≥<b>50000</b>元可激活<br>
			<b>318</b>元　　&nbsp;&nbsp;单笔投资≥<b>100000</b>元可激活<br>
			<b>518</b>元　　&nbsp;&nbsp;单笔投资≥<b>200000</b>元可激活
		</p>
	 </div>
	 <div class="cont3">
	 	<h3 class="head_three">新手红包使用须知</h3>
		<span><em>◆</em>红包的领取和查看</span>
		<p>
            1、4月1日起，凡在金额宝<b>完成注册</b>的用户（含以前注册完
            未投资过的用户），均可领取<b style="font-size:36px; ">1088元</b>新手红包；
		</p>
         <p>
             2、1088元是8个不同金额的红包总和，注册完系统自动发
             放至用户“个人账户”；
         </p>
         <p>
             3、领取之后，可登录个人账户在<b>“我的红包”</b>，点击查看详
             情。
         </p>
		<span><em>◆</em>红包的使用</span>
		<p> 1、红包有效期<b>45天</b>，逾期不使用将过期；</p>
         <p> 2、8个不同金额的红包，分别需要满足不同的投资条件才
            能激活；</p>
         <p> 3、每完成一笔投资，只能激活一个红包；</p>
         <p> 4、完成投资后，对应的红包同步返至投资人第三方账户；</p>
         <p> 5、每个红包只能使用一次。</p>
            <!--投资立返，无套路。-->
		<span><em>◆</em>活动结束时间以平台公告为准</span>
		<p style="padding-left: 60px;text-indent: 0px;">
            本活动最终解释权归金额宝所有，如有疑问，请致电金额<br>
            宝客服：<b>4008 701 701</b>
		</p>
	 </div>
	 <a class="zhuce_btn" href="/account/register" target="_blank">注册领1088元红包</a>
   </div>
 </div>
</body>
<!--内容 end-->
#parse("common/footer.html")
</html>
