<!DOCTYPE html>
<html>
<head>
    <title>金额宝 - 金额宝与富友</title>
    #parse("common/head.html")
    <!--css-->
    <link rel="stylesheet" href="${filePath}/css/FUpay.css">
</head>
<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--内容 begin-->
<div class="FUpay">
    <div class="FUpay-content1"></div>
    <div class="FUpay-content2"></div>
    <div class="FUpay-content3"></div>
</div>
<!--内容 end-->
#parse("common/footer.html")
</body>
</html>