<!DOCTYPE html>
<html>
<head>
    <title>金额宝 - 涨额系列</title>
    #parse("common/head.html")
    <!--css-->
    <link rel="stylesheet" href="${filePath}/css/sales-rose.css">
</head>
<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--内容 begin-->
<div class="security">
    <div class="rose-img1"></div>
    <div class="rose-img2"></div>
    <div class="rose-img3"></div>
    <div class="rose-img4"></div>
    <div class="rose-img5"></div>
    <div class="rose-img6"></div>
</div>
<!--内容 end-->
#parse("common/footer.html")
</body>
</html>