<!DOCTYPE html>
<html>
<head>
    <title>账户设置-我的账户</title>
    #parse("common/head.html")
    <!--css-->
    <link rel="stylesheet" href="${filePath}/css/sidebar.css">
    <link rel="stylesheet" href="${filePath}/css/myAccount.css">
</head>

<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--我的账户导航-->
<div class="account-nav">
    <p>
        <a href="/">首页</a><a href="javascript:void(0);" class="red">账户设置</a>
    </p>
</div>
<!--我的账户内容-->
<div class="account-main clearfix">
    <!--我的账户--左侧导航-->
    #parse("user/sidebar.html")
    <!--我的账户--右侧主要内容-->
    <div class="account-content fr">
        <!--账户设置-->
        <div class="my-account">
            <div class="my-account-title">
                <h2>账户设置</h2>
            </div>
            <div class="account-install-list">
                <div class="account-install-item clearfix">
                    <img src="${filePath}/images/account-right.png">
                    <h5>手机认证</h5>
                    <p>您绑定的手机： ${mobile} 如需更换手机号请与金额宝客服联系，更换手机号对账户影响较大，请谨慎操作！详情请咨询010–65006966</p>
                </div>
                <div class="account-install-item clearfix">
                    <template v-if="user.hasFundAccount">
                        <img src="${filePath}/images/account-right.png">
                        <h5>资金托管账户</h5>
                        <p class="pt5">由第三方（富友）提供资金托管服务，保障资金独立与安全</p>
                    </template>
                    <template v-else>
                        <img src="${filePath}/images/account-error.png">
                        <h5>资金托管账户</h5>
                        <p class="pt5">由第三方（富友）提供资金托管服务，保障资金独立与安全</p>
                        <a href="/userfund/register" class="account-open open-btn">开通</a>
                    </template>
                </div>
                <div class="account-install-item">
                    <div class="install-item-tit clearfix">
                        <img src="${filePath}/images/account-right.png">
                        <h5>修改登录密码</h5>
                        <a href="/account/forgot" class="account-show install-btn">修改</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容 end-->
#parse("common/footer.html")

<!--layer-->
<script src="/content/js/plugins/layer/layer.js"></script>
<script src=$UrlHelperTool.href("/content/script/user/setting.js")></script>
<script>
    $(function () {
        //修改密码弹出框
        $('.modifyBtn').on('click', function () {
            layer.alert('修改密码成功！', {
                area: ['300px', '168px']
            })
        });
        //邀请密码弹出框
        $('.invitBtn').on('click', function () {
            layer.alert('邀请码添加成功', {
                area: ['300px', '168px']
            })
        });
    });
</script>
</body>
</html>