<!Doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>投资成功</title>
    #parse("common/head.html")
    <link rel="stylesheet" type="text/css" href="${filePath}/css/result.css">
</head>
#set($_loginUser_header_=$LoginUserTool.getUser())
<body>
<div class="wrap result-main">
    <img src="${filePath}/images/success-img.jpg">
    <h3>恭喜您，投资成功</h3>
    <p>投资金额为<span>${investMoney}</span>元</p>
    <a href="/" class="goBlue">继续投资</a>
    <a href="/account/" class="goBlack">我的财富</a>
</div>
</body>
<script src="${filePath}/js/lib/base.js"></script>
</html>
